.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-family: "Roboto";
}

.toolbar {
  text-align: end;
  grid-area: 6 / 1 / 7 / 5;
  margin-top: 10px;
  margin-bottom: 25px;
}

.toolbar .toolbar__button {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .container {
    display: block;
  }
}
