.container {
  padding: 85px 0 0 0;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content:center;
}

.search {
    grid-area: 1 / 2 / 1 / 6;
    display: grid;
    align-items: center;

}

.search > div {
    width: 100%;
}

.button {
  padding: 40px 0;
  margin-top: 20px;
  border: 1px solid #d0d0d0;
  font-weight: bold;
  font-size: 16px;
}

.items {
  margin-top: 20px;
  grid-area: 2 / 2 / 6 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  grid-auto-rows: 300px;
  justify-content: center;
}

@media (max-width: 800px) {
  .container {
    padding: 70px 0 0 0;
    display: block;
    grid-row-gap: 20px;
  }

  .items {
    grid-area: none;
    grid-template-columns: none;
    grid-auto-rows: auto;
    grid-gap: 50px;
    justify-content: center;
  }
}
