.input {
  margin: 30px 0 15px 0;
}

.cards {
    padding: 15px 0;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    justify-content: flex-start;
}

.cards > div {
  margin-right: 15px;
}